# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# .txt files are binary in this case because they are test files with
# potentially defective line endings.
*.txt binary

